openapi: 3.2.0
info:
  title: SMTP2GO ALLOWED RECIPIENTS API
  version: 3.0.4
  description: The SMTP2GO v3 REST API for sending transactional email and SMS, managing sender domains and single sender emails, SMTP users, API keys, IP allow lists and IP auth, templates, webhooks, suppressions, subaccounts, dedicated IPs, email archive, activity search and delivery statistics. Every operation is a POST (with a PATCH variant on two paths) carrying a JSON body; authentication is an API key supplied in the X-Smtp2go-Api-Key header or as an api_key field in the request body.
  contact:
    name: SMTP2GO Support
    url: https://support.smtp2go.com/
  termsOfService: https://www.smtp2go.com/terms/
  x-harvest:
    source: https://developers.smtp2go.com/mcp
    method: MCP tools/call get-endpoint, one call per path+method, assembled verbatim
    harvested: '2026-08-13'
    server_info:
      name: SMTP2GO-API-Docs
      version: 3.0.4
    note: SMTP2GO does not publish a single fetchable OpenAPI URL; the ReadMe registry path answers 429 to non-browser clients. The provider's own remote MCP server returns the authoritative OpenAPI 3.1.0 fragment for each endpoint anonymously, and those 73 fragments are merged here without modification.
servers:
- url: https://api.smtp2go.com/v3
  description: Regionless
- url: https://us-api.smtp2go.com/v3
  description: US Region
- url: https://eu-api.smtp2go.com/v3
  description: EU Region
- url: https://au-api.smtp2go.com/v3
  description: AU Region
security:
- sec0: []
tags:
- name: ALLOWED RECIPIENTS
  description: Manage the allowed recipients list
paths:
  /allowed_recipients/add:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Add allowed recipients
      description: Add one or more email addresses and domain names to your Allowed Recipients List. Further details of the associated setting are found in the SMTP2GO Guides.
      operationId: add-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list is taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: b8f3c2b4-63ca-11ed-b66a-f23c9216ce11
                    data:
                      allowed_recipients:
                      - test@test.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/remove:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Remove allowed recipients
      description: 'Remove one or more emails addresses or domain names stored in your Allowed Recipients List. <strong>Note: In the event that any of the email addresses or domains do not feature in the list, no error will be raised.</strong>'
      operationId: remove-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names to remove.
                  default:
                  - test-person@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list is taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients Removed
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test-person@example.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/update:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Update allowed recipients
      description: Replace the email addresses and domain names on your Allowed Recipients List using this endpoint. Further details of these modes are found in the SMPT2GO Guides. Note that a post to this endpoint will return a success, even if the setting is not in use.
      operationId: update-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              - enabled
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list should be taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test-person@example.com
                      - otherexample.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/view:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: View allowed recipients
      description: Returns the email addresses and domain names on your Allowed Recipients list.
      operationId: view-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: List of Allowed Recipients
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test@test.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-Smtp2go-Api-Key
      x-default: ${SMTP2GO_API_KEY}
