openapi: 3.2.0
info:
  title: SMTP2GO Activity Email API
  description: REST API for sending transactional emails and SMS, managing sender domains, SMTP users, API keys, templates, webhooks, suppressions, and accessing delivery reports and activity statistics. All requests use POST with JSON bodies. Authentication is via API key in request body or X-Smtp2go-Api-Key header.
  version: 3.0.4
  contact:
    name: SMTP2GO Support
    url: https://support.smtp2go.com/
  license:
    name: Proprietary
    url: https://www.smtp2go.com/terms/
servers:
- url: https://api.smtp2go.com/v3
  description: Global endpoint (auto-routes to nearest region)
- url: https://us-api.smtp2go.com/v3
  description: United States region
- url: https://eu-api.smtp2go.com/v3
  description: European Union region
- url: https://au-api.smtp2go.com/v3
  description: Oceania region
security:
- ApiKeyHeader: []
- ApiKeyBody: []
tags:
- name: Email
  description: Send and manage email messages
paths:
  /email/send:
    post:
      operationId: sendEmail
      summary: Send a standard email
      description: Send an email by passing a JSON email object
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
            example:
              sender: Sender Name <sender@example.com>
              to:
              - Recipient <recipient@example.com>
              subject: Hello from SMTP2GO
              html_body: <h1>Hello!</h1><p>This is a test email.</p>
              text_body: Hello! This is a test email.
      responses:
        '200':
          description: Email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorised - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /email/mime:
    post:
      operationId: sendMimeEmail
      summary: Send a MIME email
      description: Send an email by supplying a pre-encoded MIME string
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMimeEmailRequest'
      responses:
        '200':
          description: MIME email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /email/batch:
    post:
      operationId: sendEmailBatch
      summary: Send a batch of emails
      description: Send a batch of emails as an array of email objects
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailBatchRequest'
      responses:
        '200':
          description: Batch emails queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailBatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /email/view:
    post:
      operationId: viewSentEmails
      summary: View and search sent emails
      description: Retrieve a list of up to 5,000 sent emails matching the supplied parameters. Deprecated - use /activity/search instead.
      deprecated: true
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: ISO-8601 start datetime filter
                end_date:
                  type: string
                  description: ISO-8601 end datetime filter
                filter_query:
                  type: string
                  description: Complex filter expression
      responses:
        '200':
          description: Sent emails list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /scheduled/remove:
    post:
      operationId: removeScheduledEmail
      summary: Remove a scheduled email
      description: Removes a scheduled email by ID
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - schedule_id
              properties:
                schedule_id:
                  type: string
                  description: ID of the scheduled email to remove
      responses:
        '200':
          description: Scheduled email removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /scheduled/search:
    post:
      operationId: searchScheduledEmails
      summary: Search scheduled emails
      description: Allows searching of scheduled emails
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                schedule_id:
                  type: string
                  description: Filter by schedule ID
      responses:
        '200':
          description: Scheduled emails list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /archive/search:
    post:
      operationId: searchArchivedContent
      summary: Search archived content
      description: Retrieve a list of up to 5,000 archived emails matching the supplied parameters
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                end_date:
                  type: string
                sender:
                  type: string
                to:
                  type: string
                subject:
                  type: string
      responses:
        '200':
          description: Archived emails list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
  /archive/view:
    post:
      operationId: viewArchivedEmail
      summary: View an archived email
      description: Fetch an archived email using the email_id
      tags:
      - Email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email_id
              properties:
                email_id:
                  type: string
      responses:
        '200':
          description: Archived email content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponse'
components:
  schemas:
    SendEmailRequest:
      type: object
      required:
      - sender
      - to
      properties:
        sender:
          type: string
          description: 'Name and email address to send from, format: Name <name@example.com>'
          example: Sender Name <sender@example.com>
        to:
          type: array
          description: Recipients (up to 100)
          items:
            type: string
          example:
          - Recipient <recipient@example.com>
        cc:
          type: array
          description: Carbon copy recipients (up to 100)
          items:
            type: string
        bcc:
          type: array
          description: Blind carbon copy recipients (up to 100)
          items:
            type: string
        subject:
          type: string
          description: Email subject line
        html_body:
          type: string
          description: HTML formatted message body
        text_body:
          type: string
          description: Plain text message body
        custom_headers:
          type: array
          description: Custom headers to include
          items:
            type: object
            properties:
              header:
                type: string
              value:
                type: string
        attachments:
          type: array
          description: File attachments
          items:
            $ref: '#/components/schemas/Attachment'
        inlines:
          type: array
          description: Inline images referenced as cid:filename in content
          items:
            $ref: '#/components/schemas/Attachment'
        template_id:
          type: string
          description: ID of pre-built template to use
        template_data:
          type: string
          description: JSON string of variables for template substitution
        schedule:
          type: string
          description: Future timestamp for delayed sending (within 3 days)
          example: '2026-06-14T10:00:00Z'
        fastaccept:
          type: boolean
          description: Enable background processing (default false)
          default: false
    Attachment:
      type: object
      required:
      - filename
      - mimetype
      properties:
        filename:
          type: string
          description: Attachment filename
        mimetype:
          type: string
          description: MIME type of the attachment
        fileblob:
          type: string
          description: Base64-encoded file content
        url:
          type: string
          description: URL to fetch the attachment from
    SendEmailBatchRequest:
      type: object
      required:
      - emails
      properties:
        emails:
          type: array
          description: Array of email objects to send
          items:
            $ref: '#/components/schemas/BatchEmailItem'
    SendMimeEmailRequest:
      type: object
      required:
      - mime_email
      properties:
        mime_email:
          type: string
          description: Base64-encoded MIME-formatted email string
        schedule:
          type: string
          description: Future timestamp (within 3 days) to queue for delayed sending
        fastaccept:
          type: boolean
          description: When true, accepts email immediately and processes asynchronously
          default: false
    ErrorResponse:
      type: object
      properties:
        request_id:
          type: string
        data:
          type: object
          properties:
            error:
              type: string
              description: Human-readable error message
            error_code:
              type: string
              description: Specific error code
    SendEmailResponse:
      type: object
      properties:
        request_id:
          type: string
          description: Unique request identifier
        data:
          type: object
          properties:
            email_id:
              type: string
              description: Email identifier generated on successful send
            schedule_id:
              type: string
              description: Schedule identifier (if schedule parameter used)
            succeeded:
              type: integer
              description: Count of successfully sent emails
            failed:
              type: integer
              description: Count of failed sends
            failures:
              type: array
              items:
                type: string
              description: Error messages encountered
    StandardResponse:
      type: object
      properties:
        request_id:
          type: string
        data:
          type: object
          additionalProperties: true
    SendEmailBatchResponse:
      type: object
      properties:
        request_id:
          type: string
        data:
          type: array
          description: Array of email_id/schedule_id information in same order as payload
          items:
            type: object
            properties:
              email_id:
                type: string
              schedule_id:
                type: string
    BatchEmailItem:
      type: object
      required:
      - sender
      - to
      - subject
      properties:
        sender:
          type: string
          description: Name and email address to send from
        to:
          type: array
          items:
            type: string
          description: Recipients (up to 100)
        cc:
          type: array
          items:
            type: string
        bcc:
          type: array
          items:
            type: string
        subject:
          type: string
        html_body:
          type: string
        text_body:
          type: string
        template_id:
          type: string
        template_data:
          type: object
          additionalProperties: true
        custom_headers:
          type: array
          items:
            type: object
            properties:
              header:
                type: string
              value:
                type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        inlines:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        schedule:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Smtp2go-Api-Key
      description: API key passed as an HTTP header
    ApiKeyBody:
      type: apiKey
      in: header
      name: api_key
      description: API key can also be included in the JSON request body as the "api_key" field
externalDocs:
  description: SMTP2GO Developer Documentation
  url: https://developers.smtp2go.com/docs/introduction-guide
