openapi: 3.1.0
info:
  title: SMTP2GO API
  version: 3.0.4
  description: The SMTP2GO v3 REST API for sending transactional email and SMS, managing sender domains and single sender emails, SMTP users, API keys, IP allow lists and IP auth, templates, webhooks, suppressions, subaccounts, dedicated IPs, email archive, activity search and delivery statistics. Every operation is a POST (with a PATCH variant on two paths) carrying a JSON body; authentication is an API key supplied in the X-Smtp2go-Api-Key header or as an api_key field in the request body.
  contact:
    name: SMTP2GO Support
    url: https://support.smtp2go.com/
  termsOfService: https://www.smtp2go.com/terms/
  x-harvest:
    source: https://developers.smtp2go.com/mcp
    method: MCP tools/call get-endpoint, one call per path+method, assembled verbatim
    harvested: '2026-08-13'
    server_info:
      name: SMTP2GO-API-Docs
      version: 3.0.4
    note: SMTP2GO does not publish a single fetchable OpenAPI URL; the ReadMe registry path answers 429 to non-browser clients. The provider's own remote MCP server returns the authoritative OpenAPI 3.1.0 fragment for each endpoint anonymously, and those 73 fragments are merged here without modification.
servers:
- url: https://api.smtp2go.com/v3
  description: Regionless
- url: https://us-api.smtp2go.com/v3
  description: US Region
- url: https://eu-api.smtp2go.com/v3
  description: EU Region
- url: https://au-api.smtp2go.com/v3
  description: AU Region
security:
- sec0: []
tags:
- name: EMAILS
  description: Send standard, MIME and batch email; manage scheduled sends
- name: EMAIL ARCHIVE
  description: Search and retrieve archived email content
- name: SENDER DOMAINS
  description: Add, verify and manage sender domains, tracking and return-path subdomains
- name: SINGLE SENDER EMAILS
  description: Verify individual From addresses
- name: SMTP USERS
  description: Manage SMTP relay usernames
- name: API KEYS
  description: Create, edit and inspect API keys and their endpoint permissions
- name: IP Allow List
  description: Manage the account IP allow list for SMTP and API access
- name: IP AUTH
  description: Manage IP-authenticated sending entries
- name: DEDICATED IPS
  description: View dedicated IP addresses on the account
- name: ALLOWED SENDERS
  description: Manage the allowed/restricted senders list
- name: ALLOWED RECIPIENTS
  description: Manage the allowed recipients list
- name: SUPPRESSIONS
  description: Add, view and remove suppressed addresses
- name: SUBACCOUNTS
  description: Create, update, close and reopen subaccounts
- name: TEMPLATES
  description: Create and manage email templates
- name: WEBHOOKS
  description: Create and manage event webhooks
- name: ACTIVITY
  description: Search account email and SMS activity events
- name: STATISTICS
  description: Delivery, bounce, spam, unsubscribe and cycle statistics
- name: SMS
  description: Send SMS and view sent/received messages and summaries
paths:
  /activity/search:
    post:
      tags:
      - ACTIVITY
      summary: Search activity
      description: Returns events (such as opens, unsubscribes) which match the filters passed. A count of events matching the filter is also included, as this may surpass the maximum of 1,000 items included within the response.<br /><i>This endpoint is rate-limited to 60 requests per minute.</i>
      operationId: search-activity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  descriiption: 'ISO-8601 formatted datetime which defaults to current date at midnight. The range will be inclusive of start_date and exclusive of end_date. Timezone is UTC.Defaults to current date at midnight.<br><br>Valid formats are: <code>2006-01-02</code>, <code>2006-01-02 15:04:05</code>, <code>2006-01-02T15:04:05</code>, <code>2006-01-02T15:04:05.0000000</code>, <code>02 Jan 06 15:04 MST</code>, <code>02 Jan 06 15:04 -0700</code>, <code>2006-01-02T15:04:05Z07:00</code>, <code>2006-01-02T15:04:05.999999999Z07:00</code>, <code>Mon, 02 Jan 2006 15:04:05 MST</code>'
                end_date:
                  type: string
                  description: 'ISO-8601 formatted datetime which defaults to now. Timezone is UTC.Defaults to current date at midnight.<br><br>Valid formats are: <code>2006-01-02</code>, <code>2006-01-02 15:04:05</code>, <code>2006-01-02T15:04:05</code>, <code>2006-01-02T15:04:05.0000000</code>, <code>02 Jan 06 15:04 MST</code>, <code>02 Jan 06 15:04 -0700</code>, <code>2006-01-02T15:04:05Z07:00</code>, <code>2006-01-02T15:04:05.999999999Z07:00</code>, <code>Mon, 02 Jan 2006 15:04:05 MST</code>'
                search:
                  type: string
                  description: If passed, will return all events for emails containing this string in any search fields. To return events with one or more text values, separate the text with '|' (e.g. 'text1 | text2')
                search_email_id:
                  type: string
                  description: If passed, will return all events for an email matching this specific id
                search_subject:
                  type: string
                  description: If passed, will return all events for emails containing this string in the email subject
                search_sender:
                  type: string
                  description: If passed, will return all events for emails containing this string in the email sender
                search_recipient:
                  type: string
                  description: If passed, will return all events for emails containing this string in the email recipient
                search_usernames:
                  type: array
                  description: If passed, will return all events for emails sent by this/these username/s
                  items:
                    type: string
                subaccounts:
                  type: array
                  description: If passed, will return all events for emails sent by this/these subaccount_id/s (as returned from the <code>/subaccount/search</code> endpoint or as shown in the App)
                  items:
                    type: string
                limit:
                  type: integer
                  description: 'The maximum number of events to return (Max: 1000)'
                  format: int32
                  default: 100
                continue_token:
                  type: string
                  description: If passed, will continue the search beyond the current page, using the same search parameters
                only_latest:
                  type: boolean
                  description: 'If true, will only return the most recent event for each email returned.  Default: false'
                only_latest_by_sent:
                  type: boolean
                  description: 'If true, will only return the most recent event for each email returned ordered by sent date (overrides only_latest field).  Default: false'
                event_types:
                  type: array
                  description: If passed, will limit the returned events to the provided event types.<br><br><strong>Values:</strong> 'processed', 'soft-bounced', 'hard-bounced', 'rejected', 'spam', 'delivered', 'unsubscribed', 'resubscribed', 'opened', 'clicked'
                  items:
                    type: string
                include_headers:
                  type: boolean
                  description: Return the full email headers with the response
                  default: false
                custom_headers:
                  type: array
                  description: A list of header keys to parse out of the raw headers
                  items:
                    type: string
                    example: X-MyCustomID
                region:
                  type: string
                  description: Optional. By default, activity search queries the region where the master account is located. If the account has subaccounts in other regions, pass this field to force the search to query activity data in that region.
                  enum:
                  - us
                  - eu
                  - au
                  example: us
      responses:
        '200':
          description: Matching events
          content:
            application/json:
              examples:
                Result:
                  value:
                    data:
                      events:
                      - from: rob@example.co.uk
                        recipient: jo@another_example.com
                        subaccount_name: Master account
                        email_id: 1u0SwL-B9zBpi9ffUq-JAB2
                        date: '2022-11-12T07:44:58Z'
                        event: delivered
                        subject: My Test Email
                        username: api-5BFDE1E62529
                        sender: rob@example.co.uk
                        to: jo@another_example.com
                        bcc: audit@example.co.uk
                        smtp_response: 250 Message received
                        host: 136.143.191.44
                        headers: 'Content-Type: text/html

                          To: to@example.com...'
                        custom_headers:
                          X-MyCustomID: 01HMSACEHXHDG4X1CZV89SQMP7
                      total_events: 1
                      continue_token: null
                    request_id: 4b661d88-6b2d-11eb-8bb3-f23c92bb31d2
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: object
                    required:
                    - continue_token
                    - events
                    - total_events
                    properties:
                      continue_token:
                        type: string
                        example: '...'
                        nullable: true
                      events:
                        type: array
                        items:
                          type: object
                          required:
                          - from
                          - recipient
                          - subaccount_name
                          - email_id
                          - date
                          - event
                          - recipients
                          - subject
                          - username
                          - reply_to
                          - sender
                          - sender_full
                          - to
                          - cc
                          - bcc
                          - smtp_response
                          - reason
                          - host
                          - error
                          - email_client
                          - metadata
                          - outbound_ip
                          - byte_size
                          - headers
                          - custom_headers
                          properties:
                            from:
                              type: string
                              example: no-reply@example.com
                            recipient:
                              type: string
                              example: someone@example.com
                            subaccount_name:
                              type: string
                              example: Master account
                            email_id:
                              type: string
                              example: 1u0SwL-B9zBpi9ffUq-JAB2
                              description: The unique ID of the email which generated the event
                            date:
                              type: string
                              example: '2021-02-09T12:18:53Z'
                              description: An RFC3339 encoded timestamp with UTC timezone indicating the timestamp of the event
                            event:
                              type: string
                              example: opened
                              description: A string indicating the type of the event
                            recipients:
                              type: array
                              example: '[''someone@example.com'', ''someoneelse@example.com'']'
                              description: The recipients of the email
                              items:
                                type: string
                            subject:
                              type: string
                              example: Booking Confirmation
                              description: The subject of the email
                            username:
                              type: string
                              example: smtpuser
                              description: The username used to send the email
                            reply_to:
                              type: string
                              example: reply@example.com
                              description: The value of the Reply-To header if present
                            sender:
                              type: string
                              example: no-reply@example.com
                              description: The From header of the email
                            sender_full:
                              type: string
                              example: NoReply <no-reply@example.com>
                              description: The From header of the email including name part if present
                            to:
                              type: string
                              example: otherperson@example.com
                              description: The value of the TO header
                            cc:
                              type: string
                              example: cc@example.com
                              description: The value of the CC header
                            bcc:
                              type: string
                              example: bcc@example.com
                              description: The value of the BCC header
                            smtp_response:
                              type: string
                              example: 250 Message received
                              description: The SMTP response of the mail server
                            reason:
                              type: string
                              example: This was a spam email
                              description: The reason for an event occurring if present
                            host:
                              type: string
                              example: 127.0.0.1
                              description: The IP address of the host associated with the event
                            originating_host:
                              type: string
                              example: 127.0.0.1
                              description: The originating IP address of the host associated with the processed event
                            error:
                              type: string
                              example: i/o timeout
                              description: The error message that occurred on certain events
                            email_client:
                              type: object
                              description: Email client information
                            metadata:
                              type: object
                              description: Additional metadata for open/click events
                            outbound_ip:
                              type: string
                              description: The Outbound IP Address if available
                            byte_size:
                              type: integer
                              description: The size of the email in bytes
                            headers:
                              type: string
                              description: The full email headers if requested
                            custom_headers:
                              type: object
                              description: An dictionary of key/value pairs of custom headers
                            delivery_attempts:
                              type: array
                              description: A list of current delivery attempts if available (for processed events only)
                              items:
                                type: object
                                properties:
                                  smtptime:
                                    type: string
                                    description: An RFC3339 encoded timestamp with UTC timezone indicating the timestamp of the delivery attempt
                                  host:
                                    type: string
                                    description: The host that generated the delivery attempt
                                  smtpresponse:
                                    type: string
                                    description: The SMTP response from the target server
                      total_events:
                        type: integer
                        example: 23405
                        default: 0
                        description: The total events available to be returned.<br>The actual number of events returned will depend on the number available and the 'limit' passed.
                  request_id:
                    type: string
                    example: 4b661d88-6b2d-11eb-8bb3-f23c92bb31d2
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
  /allowed_recipients/add:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Add allowed recipients
      description: Add one or more email addresses and domain names to your Allowed Recipients List. Further details of the associated setting are found in the SMTP2GO Guides.
      operationId: add-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list is taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: b8f3c2b4-63ca-11ed-b66a-f23c9216ce11
                    data:
                      allowed_recipients:
                      - test@test.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/remove:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Remove allowed recipients
      description: 'Remove one or more emails addresses or domain names stored in your Allowed Recipients List. <strong>Note: In the event that any of the email addresses or domains do not feature in the list, no error will be raised.</strong>'
      operationId: remove-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names to remove.
                  default:
                  - test-person@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list is taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients Removed
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test-person@example.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/update:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: Update allowed recipients
      description: Replace the email addresses and domain names on your Allowed Recipients List using this endpoint. Further details of these modes are found in the SMPT2GO Guides. Note that a post to this endpoint will return a success, even if the setting is not in use.
      operationId: update-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_recipients
              - enabled
              properties:
                allowed_recipients:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                enabled:
                  type: boolean
                  description: A flag indicating if this list should be taken into account when sending
                  example: true
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Recipients list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test-person@example.com
                      - otherexample.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_recipients/view:
    post:
      tags:
      - ALLOWED RECIPIENTS
      summary: View allowed recipients
      description: Returns the email addresses and domain names on your Allowed Recipients list.
      operationId: view-allowed-recipients
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: List of Allowed Recipients
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_recipients:
                      - test@test.com
                      enabled: true
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_recipients
                    - enabled
                    properties:
                      allowed_recipients:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      enabled:
                        type: boolean
                        description: A flag indicating if this list is taken into account when sending
                        example: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_senders/add:
    post:
      tags:
      - ALLOWED SENDERS
      summary: Add allowed senders
      description: Add one or more email addresses and domain names to your Allowed or Restricted Senders List. How this list of email addresses and domain names are used is shown by the current 'mode' value; if the Restrict Senders setting is on, they will form either a whitelist or blacklist. If the setting is off, the list will be disabled. Further details of the associated setting are found in the SMTP2GO Guides. Details of how this mode can be set via the update end-point, are given further in the documentation. A post to this endpoint will return a success, even if the Restrict Senders setting is not in use.
      operationId: add-allowed-senders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_senders
              properties:
                allowed_senders:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Senders list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: b8f3c2b4-63ca-11ed-b66a-f23c9216ce11
                    data:
                      allowed_senders:
                      - test@test.com
                      mode: disabled
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_senders
                    - mode
                    properties:
                      allowed_senders:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      mode:
                        type: string
                        description: A string indicating how the list of email address and domain names is interpreted.
                        example: whitelist
                        enum:
                        - whitelist
                        - blacklist
                        - disabled
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_senders/remove:
    post:
      tags:
      - ALLOWED SENDERS
      summary: Remove allowed senders
      description: 'Remove one or more emails addresses or domain names stored in your Allowed or Restricted Senders List. <strong>Note: In the event that any of the email addresses or domains do not feature in the list, no error will be raised.</strong>'
      operationId: remove-allowed-senders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_senders
              properties:
                allowed_senders:
                  type: array
                  description: Array of email addresses and domain names to remove.
                  default:
                  - test-person@example.com
                  items:
                    type: string
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Sender Removed
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_senders:
                      - test-person@example.com
                      mode: disabled
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_senders
                    - mode
                    properties:
                      allowed_senders:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      mode:
                        type: string
                        description: A string indicating how the list of email address and domain names is interpreted.
                        example: whitelist
                        enum:
                        - whitelist
                        - blacklist
                        - disabled
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_senders/update:
    post:
      tags:
      - ALLOWED SENDERS
      summary: Update allowed senders
      description: Replace the email addresses and domain names on your Allowed or Restricted Senders List using this endpoint. How the email addresses and domain names are used is defined in the current 'mode' value - further details of these modes are found in the SMPT2GO Guides. Note that a post to this endpoint will return a success, even if the setting is not in use.
      operationId: update-allowed-senders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - allowed_senders
              - mode
              properties:
                allowed_senders:
                  type: array
                  description: Array of email addresses and domain names.
                  default:
                  - test-person@example.com
                  - other@example.com
                  items:
                    type: string
                mode:
                  type: string
                  description: A string indicating how the list of email address and domain names is interpreted. and should be one of 'whitelist', 'blacklist' or 'disabled'.<br><strong>Warning:</strong> Changing the mode to 'whitelist' or 'blacklist' disables the 'Sender Domains' and 'Single Sender Emails' features.<br>
                  default: whitelist
                  enum:
                  - whitelist
                  - blacklist
                  - disabled
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: Allowed Senders list updated
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_senders:
                      - test-person@example.com
                      - otherexample.com
                      mode: whitelist
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_senders
                    - mode
                    properties:
                      allowed_senders:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      mode:
                        type: string
                        description: A string indicating how the list of email address and domain names is interpreted.
                        example: whitelist
                        enum:
                        - whitelist
                        - blacklist
                        - disabled
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /allowed_senders/view:
    post:
      tags:
      - ALLOWED SENDERS
      summary: View allowed senders
      description: Returns the email addresses and domain names on your Allowed or Restricted Senders list, as well as the Restrict Senders setting, which dictates how they are interpreted.
      operationId: view-allowed-senders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: []
              properties:
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here
      responses:
        '200':
          description: List of Allowed Senders
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                    data:
                      allowed_senders:
                      - test@test.com
                      mode: disabled
              schema:
                type: object
                required:
                - request_id
                - data
                properties:
                  request_id:
                    type: string
                    example: 40cbb6f2-935f-11e7-b5be-480fcf01a6f2
                  data:
                    type: object
                    required:
                    - allowed_senders
                    - mode
                    properties:
                      allowed_senders:
                        type: array
                        description: A list of email addresses and domain names
                        items:
                          type: string
                          example: test-person@example.com
                      mode:
                        type: string
                        description: A string indicating how the list of email address and domain names is interpreted.
                        example: whitelist
                        enum:
                        - whitelist
                        - blacklist
                        - disabled
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Example:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error: You do not have permission to access this API endpoint
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
      deprecated: false
  /api_keys/add:
    post:
      tags:
      - API KEYS
      summary: Add a new API key
      description: Add a new API key to your account<br /><i>This endpoint is rate-limited to 5 requests per minute.</i>
      operationId: add-api-key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: A comment or description of your new API key
                  example: test api key
                custom_ratelimit:
                  type: boolean
                  description: If true, a custom rate limit will be enabled for this user, and defined by the <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code>.
                custom_ratelimit_value:
                  type: integer
                  description: If passed, defines the limit of emails this user can send in the period specified in <code>custom_ratelimit_period</code>.<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.
                custom_ratelimit_period:
                  type: string
                  example: 0:30:00
                  description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                ip_pool:
                  type: integer
                  description: If passed, any emails sent with this API key will use dedicated IP's in this IP Pool, This value can be found on the <code>/v3/dedicated_ips/view</code> endpoint.
                  example: 1234
                feedback_enabled:
                  type: boolean
                  description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                  default: false
                feedback_html:
                  type: string
                  description: The HTML content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_html
                  default: ''
                feedback_text:
                  type: string
                  description: The text content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_text
                  default: ''
                open_tracking_enabled:
                  type: boolean
                  description: If true, open tracking will be enabled for this API key.
                  default: false
                click_tracking_enabled:
                  type: boolean
                  description: If true, click tracking will be enabled for this API key.
                  default: false
                archive_enabled:
                  type: boolean
                  description: If true, archiving (available on paid plans) will be enabled for this API key.
                  default: false
                audit_email:
                  type: string
                  description: If passed, this email will be BCC'd on all emails sent by this API key.
                bounce_notifications:
                  type: string
                  description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                  default: from
                status:
                  type: string
                  description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                  default: allowed
                endpoints:
                  type: array
                  description: 'An array of endpoints that this API key will be allowed to use.<br /><br />The endpoints passed must be a subset of the endpoints allowed by the API key making this call.<br /><br />A full list of endpoints can be found in the app under <code>Sending->API Keys->Permissions</code> or programatically via the API <a target="blank" href="https://api.smtp2go.com/v3/api/index">here</a>.<br /><br />We also accept wildcard patterns, for example to allow access to all email endpoints you can pass <code>["/email/&ast;"]</code>.<br /><br />To allow access to every endpoint simply pass <code>"endpoints": ["&ast;"]</code>'
                  default:
                  - /email/send
                  items:
                    type: string
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here.
      responses:
        '200':
          description: Successfully added API key
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: f3e50113-deb2-4e54-9675-2ea497c3732e
                    data:
                    - api_key: api-00000000000000000000000000000000
                      description: test api key
                      feedback_enabled: true
                      feedback_html: test_html
                      feedback_text: test_text
                      ippool: 1234
                      bounce_notifications: from
                      status: allowed
                      endpoints:
                      - /email/send
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: array
                    description: An array of API key results
                    items:
                      type: object
                      required:
                      - request_id
                      - data
                      properties:
                        request_id:
                          type: string
                          example: aa253464-0bd0-467a-b24b-6159dcd7be60
                        data:
                          type: object
                          properties:
                            api_key:
                              type: string
                              example: api-00000000000000000000000000000000
                              description: The new API key used to query the API.
                            username:
                              type: string
                              example: api-000000000000
                              description: A shortened version of the API key which can be used to correlate data with some other API calls that also feature <code>username</code>.
                            description:
                              type: string
                              description: A comment or description of the API key.
                            custom_rate_limit:
                              type: boolean
                              example: true
                              default: false
                              description: If enabled will use the values of <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code> for rate limiting.
                            custom_ratelimit_value:
                              type: integer
                              example: 123
                              description: If passed, defines the limit of emails this API key can send in the period specified in <code>custom_ratelimit_period</code>.
                            custom_ratelimit_period:
                              type: string
                              example: 0:30:00
                              description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                            default_ratelimit_value:
                              type: string
                              example: 123
                              description: The default limit of emails this API key can send in the period specified in <code>default_ratelimit_period</code>. <strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.
                            default_ratelimit_period:
                              type: string
                              example: unlimited
                              description: 'The default period for which this API key will be limited to the number of emails specified in <code>default_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.'
                            ippool:
                              type: integer
                              example: 1234
                            feedback_enabled:
                              type: boolean
                              description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                              default: false
                            feedback_html:
                              type: string
                              description: 'The HTML content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank <br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            feedback_text:
                              type: string
                              description: 'The text content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            open_tracking_enabled:
                              type: boolean
                              description: If true, open tracking will be enabled for this API key.
                              default: false
                            click_tracking_enabled:
                              type: boolean
                              description: If true, click tracking will be enabled for this API key.
                              default: false
                            archive_enabled:
                              type: boolean
                              description: If true, archiving (available on paid plans) will be enabled for this API key.
                              default: false
                            audit_email:
                              type: string
                              description: If passed, this email will be BCC'd on all emails sent by this API key.
                            bounce_notifications:
                              type: string
                              description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                              default: from
                            status:
                              type: string
                              description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                              default: allowed
                            endpoints:
                              type: array
                              description: An array of endpoints that this API key will be allowed to use.
                              default:
                              - /email/send
                  request_id:
                    type: string
                    example: 4b661d88-6b2d-11eb-8bb3-f23c92bb31d2
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
  /api_keys/edit:
    post:
      tags:
      - API KEYS
      summary: Edit an API key
      description: Edit an existing API key
      operationId: edit-api-key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The ID of the existing API key you wish to edit.
                  example: api-00000000000000000000000000000000
                description:
                  type: string
                  description: A comment or description of your new API key
                  example: test api key
                custom_ratelimit:
                  type: boolean
                  description: If true, a custom rate limit will be enabled for this user, and defined by the <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code>.
                custom_ratelimit_value:
                  type: integer
                  description: If passed, defines the limit of emails this user can send in the period specified in <code>custom_ratelimit_period</code>.<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.
                custom_ratelimit_period:
                  type: string
                  example: 0:30:00
                  description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                ip_pool:
                  type: integer
                  description: If passed, any emails sent with this API key will use dedicated IP's in this IP Pool, This value can be found on the <code>/v3/dedicated_ips/view</code> endpoint.
                  example: 1234
                feedback_enabled:
                  type: boolean
                  description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                  default: false
                feedback_html:
                  type: string
                  description: The HTML content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_html
                  default: ''
                feedback_text:
                  type: string
                  description: The text content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_text
                  default: ''
                open_tracking_enabled:
                  type: boolean
                  description: If true, open tracking will be enabled for this API key.
                  default: false
                click_tracking_enabled:
                  type: boolean
                  description: If true, click tracking will be enabled for this API key.
                  default: false
                archive_enabled:
                  type: boolean
                  description: If true, archiving (available on paid plans) will be enabled for this API key.
                  default: false
                audit_email:
                  type: string
                  description: If passed, this email will be BCC'd on all emails sent by this API key.
                bounce_notifications:
                  type: string
                  description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                  default: from
                status:
                  type: string
                  description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                  default: allowed
                endpoints:
                  type: array
                  description: 'An array of endpoints that this API key will be allowed to use.<br /><br />Any additional endpoints passed must be a subset of the endpoints allowed by the API key making this call.<br /><br />A full list of endpoints can be found in the app under <code>Sending->API Keys->Permissions</code> or programatically via the API <a target="blank" href="https://api.smtp2go.com/v3/api/index">here</a>.<br /><br />We also accept wildcard patterns, for example to allow access to all email endpoints you can pass <code>["/email/&ast;"]</code>.<br /><br />To allow access to every endpoint simply pass <code>"endpoints": ["&ast;"]</code>'
                  default:
                  - /email/send
                  items:
                    type: string
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here.
      responses:
        '200':
          description: Successfully edited API key
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: f3e50113-deb2-4e54-9675-2ea497c3732e
                    data:
                    - api_key: api-000000000000********************
                      description: test api key
                      feedback_enabled: true
                      feedback_html: test_html
                      feedback_text: test_text
                      ippool: 1234
                      bounce_notifications: from
                      status: allowed
                      endpoints:
                      - /email/send
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: array
                    description: An array of API key results
                    items:
                      type: object
                      required:
                      - request_id
                      - data
                      properties:
                        request_id:
                          type: string
                          example: aa253464-0bd0-467a-b24b-6159dcd7be60
                        data:
                          type: object
                          properties:
                            api_key:
                              type: string
                              example: api-000000000000********************
                              description: The API key used to query the API (masked)
                            username:
                              type: string
                              example: api-000000000000
                              description: A shortened version of the API key which can be used to correlate data with some other API calls that also feature <code>username</code>.
                            description:
                              type: string
                              description: A comment or description of the API key.
                            custom_rate_limit:
                              type: boolean
                              example: true
                              default: false
                              description: If enabled will use the values of <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code> for rate limiting.
                            custom_ratelimit_value:
                              type: integer
                              example: 123
                              description: If passed, defines the limit of emails this API key can send in the period specified in <code>custom_ratelimit_period</code>.
                            custom_ratelimit_period:
                              type: string
                              example: 0:30:00
                              description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                            default_ratelimit_value:
                              type: string
                              example: 123
                              description: The default limit of emails this API key can send in the period specified in <code>default_ratelimit_period</code>. <strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.
                            default_ratelimit_period:
                              type: string
                              example: unlimited
                              description: 'The default period for which this API key will be limited to the number of emails specified in <code>default_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.'
                            ippool:
                              type: integer
                              example: 1234
                            feedback_enabled:
                              type: boolean
                              description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                              default: false
                            feedback_html:
                              type: string
                              description: 'The HTML content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank <br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            feedback_text:
                              type: string
                              description: 'The text content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            open_tracking_enabled:
                              type: boolean
                              description: If true, open tracking will be enabled for this API key.
                              default: false
                            click_tracking_enabled:
                              type: boolean
                              description: If true, click tracking will be enabled for this API key.
                              default: false
                            archive_enabled:
                              type: boolean
                              description: If true, archiving (available on paid plans) will be enabled for this API key.
                              default: false
                            audit_email:
                              type: string
                              description: If passed, this email will be BCC'd on all emails sent by this API key.
                            bounce_notifications:
                              type: string
                              description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                              default: from
                            status:
                              type: string
                              description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                              default: allowed
                            endpoints:
                              type: array
                              description: An array of endpoints that this API key will be allowed to use.
                              default:
                              - /email/send
                  request_id:
                    type: string
                    example: 4b661d88-6b2d-11eb-8bb3-f23c92bb31d2
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
    patch:
      tags:
      - API KEYS
      summary: Patch an API key
      description: Patch an existing API key ignoring missing properties
      operationId: patch-api-key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The ID of the existing API key you wish to edit.
                  example: api-00000000000000000000000000000000
                description:
                  type: string
                  description: A comment or description of your new API key
                  example: test api key
                custom_ratelimit:
                  type: boolean
                  description: If true, a custom rate limit will be enabled for this user, and defined by the <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code>.
                custom_ratelimit_value:
                  type: integer
                  description: If passed, defines the limit of emails this user can send in the period specified in <code>custom_ratelimit_period</code>.<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.
                custom_ratelimit_period:
                  type: string
                  example: 0:30:00
                  description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                ip_pool:
                  type: integer
                  description: If passed, any emails sent with this API key will use dedicated IP's in this IP Pool, This value can be found on the <code>/v3/dedicated_ips/view</code> endpoint.
                  example: 1234
                feedback_enabled:
                  type: boolean
                  description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                  default: null
                feedback_html:
                  type: string
                  description: The HTML content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_html
                  default: null
                feedback_text:
                  type: string
                  description: The text content to insert into the custom feedback email body via the unsubscribe footer.<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>
                  example: test_text
                  default: null
                open_tracking_enabled:
                  type: boolean
                  description: If true, open tracking will be enabled for this API key.
                  default: null
                click_tracking_enabled:
                  type: boolean
                  description: If true, click tracking will be enabled for this API key.
                  default: null
                archive_enabled:
                  type: boolean
                  description: If true, archiving (available on paid plans) will be enabled for this API key.
                  default: null
                audit_email:
                  type: string
                  description: If passed, this email will be BCC'd on all emails sent by this API key.
                bounce_notifications:
                  type: string
                  description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                  default: null
                status:
                  type: string
                  description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                  default: null
                endpoints:
                  type: array
                  description: 'An array of endpoints that this API key will be allowed to use.<br /><br />Any additional endpoints passed must be a subset of the endpoints allowed by the API key making this call.<br /><br />A full list of endpoints can be found in the app under <code>Sending->API Keys->Permissions</code> or programatically via the API <a target="blank" href="https://api.smtp2go.com/v3/api/index">here</a>.<br /><br />We also accept wildcard patterns, for example to allow access to all email endpoints you can pass <code>["/email/&ast;"]</code>.<br /><br />To allow access to every endpoint simply pass <code>"endpoints": ["&ast;"]</code>'
                  default: null
                  items:
                    type: string
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here.
      responses:
        '200':
          description: Successfully patched API key
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: f3e50113-deb2-4e54-9675-2ea497c3732e
                    data:
                    - api_key: api-000000000000********************
                      description: test api key
                      feedback_enabled: true
                      feedback_html: test_html
                      feedback_text: test_text
                      ippool: 1234
                      bounce_notifications: from
                      status: allowed
                      endpoints:
                      - /email/send
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: array
                    description: An array of API key results
                    items:
                      type: object
                      required:
                      - request_id
                      - data
                      properties:
                        request_id:
                          type: string
                          example: aa253464-0bd0-467a-b24b-6159dcd7be60
                        data:
                          type: object
                          properties:
                            api_key:
                              type: string
                              example: api-000000000000********************
                              description: The API key used to query the API (masked)
                            username:
                              type: string
                              example: api-000000000000
                              description: A shortened version of the API key which can be used to correlate data with some other API calls that also feature <code>username</code>.
                            description:
                              type: string
                              description: A comment or description of the API key.
                            custom_rate_limit:
                              type: boolean
                              example: true
                              default: false
                              description: If enabled will use the values of <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code> for rate limiting.
                            custom_ratelimit_value:
                              type: integer
                              example: 123
                              description: If passed, defines the limit of emails this API key can send in the period specified in <code>custom_ratelimit_period</code>.
                            custom_ratelimit_period:
                              type: string
                              example: 0:30:00
                              description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                            default_ratelimit_value:
                              type: string
                              example: 123
                              description: The default limit of emails this API key can send in the period specified in <code>default_ratelimit_period</code>. <strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.
                            default_ratelimit_period:
                              type: string
                              example: unlimited
                              description: 'The default period for which this API key will be limited to the number of emails specified in <code>default_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Used if <code>custom_ratelimit</code> is false.'
                            ippool:
                              type: integer
                              example: 1234
                            feedback_enabled:
                              type: boolean
                              description: If true, custom feedback via the unsubscribe footer will be enabled and defined by the below settings.
                              default: false
                            feedback_html:
                              type: string
                              description: 'The HTML content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank <br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            feedback_text:
                              type: string
                              description: 'The text content to insert into the custom feedback email body via the unsubscribe footer.  Default: blank<br><br><strong>System Variables (Only available here):</strong><ul><li>Unsubscribe URL = %%UNSUBSCRIBE%% </li><li>Email address = %%EMAIL%%</li></ul>'
                            open_tracking_enabled:
                              type: boolean
                              description: If true, open tracking will be enabled for this API key.
                              default: false
                            click_tracking_enabled:
                              type: boolean
                              description: If true, click tracking will be enabled for this API key.
                              default: false
                            archive_enabled:
                              type: boolean
                              description: If true, archiving (available on paid plans) will be enabled for this API key.
                              default: false
                            audit_email:
                              type: string
                              description: If passed, this email will be BCC'd on all emails sent by this API key.
                            bounce_notifications:
                              type: string
                              description: If passed, will control how bounce notifications are handled. Must be one of [from, drop, or a valid email address]. [from] will return the email to sender, [drop] will discard the event, and the inclusion of an email address will send the event on to this account.
                              default: from
                            status:
                              type: string
                              description: The initial status of the API key, one of ['allowed', 'blocked', 'sandbox'].
                              default: allowed
                            endpoints:
                              type: array
                              description: An array of endpoints that this API key will be allowed to use.
                              default:
                              - /email/send
                  request_id:
                    type: string
                    example: 4b661d88-6b2d-11eb-8bb3-f23c92bb31d2
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
  /api_keys/permissions:
    post:
      tags:
      - API KEYS
      summary: View Permissions
      description: Retrieve a list of endpoints this API Key can use. This endpoint is available to all API Keys.
      operationId: view-api-key-permissions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Successfully retrieved API key permissions
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: f3e50113-deb2-4e54-9675-2ea497c3732e
                    data:
                    - /email/send
                    - /api_keys/view
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: array
                    description: An array of API key results
                    items:
                      type: object
                      required:
                      - request_id
                      - data
                      properties:
                        request_id:
                          type: string
                          example: aa253464-0bd0-467a-b24b-6159dcd7be60
                        data:
                          type: array
                          items:
                            type: string
                  request_id:
                    type: string
                    example:
                    - /email/send
                    - /api_keys/view
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
  /api_keys/remove:
    post:
      tags:
      - API KEYS
      summary: Remove an API key
      description: Remove an existing API key
      operationId: remove-api-key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The ID of the existing API key you wish to remove.
                  example: api-00000000000000000000000000000000
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here.
      responses:
        '200':
          description: Successfully removed API key
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: 22e5acba-43bf-11e6-ae42-408d5cce2644
                    data:
                      error: You do not have permission to access this API endpoint
                      error_code: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    example: 22e5acba-43bf-11e6-ae42-408d5cce2644
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You do not have permission to access this API endpoint
                      error_code:
                        type: string
                        example: E_ApiResponseCodes.ENDPOINT_PERMISSION_DENIED
      deprecated: false
  /api_keys/view:
    post:
      tags:
      - API KEYS
      summary: View API Keys
      description: Retrieve a list of API keys on this account
      operationId: view-api-keys
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: A full API key to retrieve the information for.
                search:
                  type: string
                  description: A search keyword used to refine the results.
                subaccount_id:
                  type: string
                  description: If you wish to make this API call on behalf of a subaccount then include its unique ID here.
      responses:
        '200':
          description: Successfully retrieved API keys
          content:
            application/json:
              examples:
                Result:
                  value:
                    request_id: f3e50113-deb2-4e54-9675-2ea497c3732e
                    data:
                    - api_key: api-000000000000********************
                      description: test api key again
                      feedback_enabled: true
                      feedback_html: test_html
                      feedback_text: test_text
                      ippool: 1234
                      bounce_notifications: from
                      status: allowed
                      endpoints:
                      - /email/send
              schema:
                type: object
                required:
                - data
                - request_id
                properties:
                  data:
                    type: array
                    description: An array of API key results
                    items:
                      type: object
                      required:
                      - request_id
                      - data
                      properties:
                        request_id:
                          type: string
                          example: aa253464-0bd0-467a-b24b-6159dcd7be60
                        data:
                          type: object
                          properties:
                            api_key:
                              type: string
                              example: api-000000000000********************
                              description: The masked API key.
                            username:
                              type: string
                              example: api-000000000000
                              description: A shortened version of the API key which can be used to correlate data with some other API calls that also feature <code>username</code>.
                            description:
                              type: string
                              description: A comment or description of the API key.
                            custom_rate_limit:
                              type: boolean
                              example: true
                              default: false
                              description: If enabled will use the values of <code>custom_ratelimit_value</code> and <code>custom_ratelimit_period</code> for rate limiting.
                            custom_ratelimit_value:
                              type: integer
                              example: 123
                              description: If passed, defines the limit of emails this API key can send in the period specified in <code>custom_ratelimit_period</code>.
                            custom_ratelimit_period:
                              type: string
                              example: 0:30:00
                              description: 'If passed, defines the period for which this user will be limited to the number of emails specified in <code>custom_ratelimit_value</code>.<br><br><strong>Syntax:</strong> "\<n\> [hour[s]|day[s]|week[s]|month[s]] [hh:mm:ss]".<br><br><strong>Examples: </strong> "0:30:00", "1 hour", "2 days", "3 months", "4 months 5:00:00".<br><br><strong>Note:</strong> Only stores this value if <code>custom_ratelimit</code> is true.'
                            default_ratelimit_value:
[...]
